<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "nav.html" . }}
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
</body>

</html>