
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h3>{{ .Site.Title }}</h3>
              <!--<p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
              -->
              <p>
                <strong>Téléphone:</strong> <a href="tel:{{ .Site.Params.Phone}}">{{ .Site.Params.Phone}}</a><br>
                <strong>Email:</strong> {{ .Site.Params.Email}}<br>
              </p>
              <div class="social-links mt-3">
                
                <!-- 
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                -->
                
                <a href="{{ .Site.Params.Social_media.facebook.url }}" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="{{ .Site.Params.Social_media.instagram.url }}" class="instagram"><i class="bx bxl-instagram"></i></a>
                
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Histoire</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Menu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Evenement</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>


          
<!--
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>
         

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="{{ .Site.Params.contact.action }}" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>
           -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>{{ .Site.Title }}</span></strong>. Tous les droits réservés.
      </div>
      <div class="credits">
        
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files 


  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

-->
   
  {{ $js := resources.Get "vendor/aos/aos.js" }}
  <script src="{{ $js.RelPermalink }}" defer></script>

  {{ $js := resources.Get "vendor/bootstrap/js/bootstrap.bundle.min.js" }}
  <script src="{{ $js.RelPermalink }}" defer></script>

  {{ $js := resources.Get "vendor/glightbox/js/glightbox.min.js" }}
  <script src="{{ $js.RelPermalink }}" defer></script>

  {{ $js := resources.Get "vendor/isotope-layout/isotope.pkgd.min.js" }}
  <script src="{{ $js.RelPermalink }}" defer></script>

  {{ $js := resources.Get "vendor/swiper/swiper-bundle.min.js" }}
  <script src="{{ $js.RelPermalink }}" defer></script>

  {{ $js := resources.Get "vendor/php-email-form/validate.js" }}
  <script src="{{ $js.RelPermalink }}" defer></script>




  <!-- Template Main JS File 
  <script src="assets/js/main.js"></script>-->


  {{ $js := resources.Get "js/main.js" }}
  <script src="{{ $js.RelPermalink }}" defer></script>
