
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">{{ .Site.Title }}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- 
        <a href="index.html" class="logo me-auto me-lg-0"><img src="images/saveurboucanee/logo.jpg" alt="" class="img-fluid"></a>
        -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Acceuil</a></li>

          {{ range .Site.Params.menu }}
          <li><a class="nav-link scrollto" href="#{{ .link }}">{{ .text }}</a></li>
          {{ end }}

          <!--
          <li><a class="nav-link scrollto" href="#about"></a></li>
          <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
          <li><a class="nav-link scrollto" href="#events">Events</a></li>
          <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#{{ .Site.Params.header.menu_btn_link }}" class="book-a-table-btn scrollto d-none d-lg-flex">{{ .Site.Params.header.menu_btn }}</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Bienvenue chez <span>{{ .Site.Title }}</span></h1>
          <h2>{{ .Site.Params.Description}}</h2>

          <div class="btns">
            <a href="#{{ .Site.Params.header.btn_1_link }}" class="btn-menu animated fadeInUp scrollto">{{ .Site.Params.header.btn_1 }}</a>
            <a href="#{{ .Site.Params.header.btn_2_link }}" class="btn-book animated fadeInUp scrollto">{{ .Site.Params.header.btn_2 }}</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="{{ .Site.Params.header.video}}" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->