 <!-- ======= Top Bar ======= -->
 <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span><a href="tel:{{ .Site.Params.Phone}}">{{ .Site.Params.Phone}}</a></span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> {{ .Site.Params.open_hours}}</span></i>
      </div>
<!--
      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>En</li>
          <li><a href="#">De</a></li>
        </ul>
      </div>
-->
</div>
</div>
