{{ define "main" }}

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="about-img">
            {{ $hero := resources.Get .Site.Params.About.img }}
            <img src="{{ $hero.RelPermalink }}" />

            <!-- <img src="images/saveurboucanee/camion_3.jpg" alt=""> -->
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>{{ .Site.Params.About.title }}</h3>
          <p class="fst-italic">{{ .Site.Params.About.text_first }}</p>
          <ul>
            {{ range .Site.Params.About.items }}

            <li><i class="bi bi-check-circle"></i> {{ .text }}</li>

            {{end}}
          </ul>
          <p>{{ .Site.Params.About.text }}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{ .Site.Params.Why_us.title }}</h2>
        <p>{{ .Site.Params.Why_us.text }}</p>
      </div>

      <div class="row">
        {{ range .Site.Params.Why_us.items }}

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="{{ .delay }}">
            <span>{{ .nb }}</span>
            <h4>{{ .title }}</h4>
            <p>{{ .text }}</p>
          </div>
        </div>

        {{ end }}
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{ .Site.Params.Food_menu.title }}</h2>
        <p>{{ .Site.Params.Food_menu.text }}</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">Tout voir</li>
            <li data-filter=".filter-starters">Entrées</li>
            <li data-filter=".filter-bokit">Bokits</li>
            <li data-filter=".filter-specialty">Spécialitées</li>
            <li data-filter=".filter-dessert">Desserts</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        {{ range .Site.Params.Food_menu.items }} {{ $hero := resources.Get .img
        }}
        <div class="col-lg-6 menu-item {{ .catégorie }}">
          <img src="{{ $hero.RelPermalink }}" class="menu-img" alt="" />
          <div class="menu-content">
            <a href="#"> {{ .title }}</a><span>{{ .price }}</span>
          </div>
          <div class="menu-ingredients">{{ .text }}</div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- End Menu Section -->

  <!-- ======= Specials Section ======= -->
  <section id="specials" class="specials">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{ .Site.Params.Special.title }}</h2>
        <p>{{ .Site.Params.Special.text }}</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            {{ range .Site.Params.Special.items }}

            <li class="nav-item">
              <a
                class="nav-link {{ .class }}"
                data-bs-toggle="tab"
                href="#tab-{{ .id }}"
                >{{ .link_text }}</a
              >
            </li>

            {{ end }}
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            {{ range .Site.Params.Special.items }}

            <div class="tab-pane {{ .class }}" id="tab-{{ .id }}">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{ .title }}</h3>
                  <p class="fst-italic">{{ .text_first }}</p>
                  <p>{{ .text }}</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{ .img }}" alt="" class="img-fluid" />
                </div>
              </div>
            </div>

            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Specials Section -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{ .Site.Params.events.title }}</h2>
        <p>{{ .Site.Params.events.text }}</p>
      </div>

      <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          {{ range .Site.Params.events.items }}

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                {{ $hero3 := resources.Get .img }}

                <img src="{{ $hero3.RelPermalink }}" class="img-fluid" alt="" />
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>{{ .title }}</h3>
                <div class="price">
                  <p><span>{{ .price }}</span></p>
                </div>
                <p class="fst-italic">{{ .text_first }}</p>

                <ul>
                  {{ range .list }}
                  <li><i class="bi bi-check-circled"></i> {{ .text }}</li>
                  {{ end }}
                </ul>
                <p>{{ .text }}</p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          {{ end }}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Events Section -->

  <!-- ======= Book A Table Section ======= -- >
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reservation</h2>
          <p>Book a Table</p>
        </div>

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Book a Table</button></div>
        </form>

      </div>
    </section><!-- End Book A Table Section -->

  <!-- ======= Testimonials Section ======= -- >
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -- >

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -- >

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -- >

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -- >

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -- >

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  <!-- ======= Gallery Section ======= -->
  <!--
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{ .Site.Params.gallery.title }}</h2>
        <p>{{ .Site.Params.gallery.text }}</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">
        {{ range .Site.Params.Special.items }} {{ $hero2 := resources.Get .img
        }}

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href=" {{ $hero2.RelPermalink }}"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img src=" {{ $hero2.RelPermalink }}" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        {{ end }}
      </div>
    </div>
  </section>
-->
  <section id="gallery_insta" class="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Photos Instagram :</h2>
        <p>@saveurboucanee</p>
      </div>
    </div>
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">
        <div class="">
        

            <div data-behold-id="wm7AnOB245M9mHH9yZ5o"></div>
            <script>
              (() => {
                const d=document,s=d.createElement("script");s.type="module";
                s.src="https://w.behold.so/widget.js";d.head.append(s);
             })();
            </script>



            <!-- compte Hipotamla-->
            <!--<behold-widget feed-id="Bm1UmkzeSuFj460V9JLH"></behold-widget>-->
            <!-- exemple behold  -->
            <!-- <behold-widget feed-id="wm7AnOB245M9mHH9yZ5o"></behold-widget> -->
                     
        
        </div>
      </div>
    </div>
  </section>
  <!-- End Gallery insta Section -->

  <!-- ======= Chefs Section ======= -- >
    <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Chefs</h2>
          <p>Our Proffesional Chefs</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Master Chef</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Patissier</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>Cook</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Chefs Section -->

  <!-- ======= 2eme bloc pour le adresses ! Why Us Section ======= -->
  <section id="locations" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{ .Site.Params.locations.title }}</h2>
        <p>{{ .Site.Params.locations.text }}</p>
      </div>

      <div class="row">
        {{ range .Site.Params.locations.items }}

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>{{ .id }}</span>
            <h4>{{ .title }}</h4>
            <p>{{ .text }}</p>
          </div>
        </div>

        {{ end }}
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{ .Site.Params.contact.title }}</h2>
        <p>{{ .Site.Params.contact.text }}</p>
      </div>
    </div>


    <div data-aos="fade-up">
      <iframe
        style="border: 0; width: 100%; height: 350px"
        src="https://www.google.com/maps/d/embed?mid=1-AR9ztIy1I-2Cw6qOgvAW6_-XfZMZTM&ehbc=2E312F&noprof=1"
        
        
        frameborder="0"
      ></iframe>

    </div>

    <div class="container" data-aos="fade-up">
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Horaires et Adresses:</h4>

              {{ range .Site.Params.contact.items }}

              <p>
                <strong
                  ><a target="_blank" href="{{.link}}"
                    >{{ .adresse }}</a
                  ></strong
                >
              </p>
              <p>
                {{ .jours }}<br />
                {{ .heures }}
              </p>
              <br />

              {{ end }}
            </div>

            <!-- 
              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Horaires ouvertures:</h4>
                <p>
                  Monday-Saturday:<br>
                  11:00 AM - 2300 PM
                </p>
                <p>
                  Monday-Saturday:<br>
                  11:00 AM - 2300 PM
                </p>
                <p>
                  Monday-Saturday:<br>
                  11:00 AM - 2300 PM
                </p>
              </div>
             

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{ .Site.Params.email}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Téléphone:</h4>
                <p><a href="tel:{{ .Site.Params.Phone}}">{{ .Site.Params.Phone}}</a></p>
              </div>
 -->
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form
            action="{{ .Site.Params.contact.action }}"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Ton nom"
                  required
                />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Ton email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Le sujet"
                required
              />
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="8"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <!--
              <div class="my-3">
              <div class="loading">Chargement</div>
              <div class="error-message"></div>
              <div class="sent-message">{{ .Site.Params.contact.success }}</div>
            </div>
          -->
            <div class="text-center">
              <button type="submit">{{ .Site.Params.contact.button }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
{{ end }}
